body {
  background-color: #d1d0dfaf;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
.selected {
  font-family: "Times New Roman", Times, serif;
  border-bottom: 2px solid #c3a709;
  font-size: 20px;
}
.nav-wrapper {
  background-color: #050416;
}

ul {
  font-family: "Times New Roman", Times, serif;
}
ul li a:hover {
  font-family: "Times New Roman", Times, serif;
  border-bottom: 2px solid #c3a709;
  font-size: 14px;
}
ul li a {
  font-size: 16px;
}

.footer-copyright {
  text-align: center;
  background-color: #080622;
  color: #d3caa2a6;
}
/*body style here*/
p {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

#my-picture img {
  border-radius: 50%;
  margin-top: 100px;
}
div.row {
  text-align: center;
}
